<html>
<head>
    <!-- TODO: render html files as template -->
    <link rel="stylesheet" type="text/css" href="static/style.css?0123456789">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script> var mode = "{{ mode }}" </script>
    <script src="/static/script.js?v=12"> </script>
</head>
<body>
    <div class="view-screen">
        <div class="eight-puzzle">
            <ul class="n-puzzle">
                <li class="correct">1</li>
                <li class="correct">2</li>
                <li class="correct">3</li>
                <li class="correct">4</li>
                <li class="correct">5</li>
                <li class="correct">6</li>
                <li class="correct">7</li>
                <li class="correct">8</li>
                <li class="empty">X</li>
            </ul>
        </div>
        <table>
            <tr>
                <td>
                    <input value="8X6547231" name="state">
                </td>
                <td>
                    <p>حالت شروع</p>
                </td>
            </tr>
            <tr>
                <td>
                    <input value="12345678X" disabled>
                </td>
                <td>
                    <p>حالت هدف</p>
                </td>
            </tr>

            <tr>
                <td>
                    <select name="approach">
                    <option value="astar">A-STAR</option>
                    <option value="ids">IDS</option>
                    </select>
                </td>
                <td>
                    <p>رویکرد</p>
                </td>
            </tr>
        </table>

        <div class="buttons">
            <input type="button" name="run" value="شروع" onclick="onclick_run()">
        </div>
        <div name="loading" class="loading hide"> <img src='/static/loading.gif'> </div>
    </div>
</body>
</html>
