/* RESET */
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}
/* END RESET */

html {
    height: 100%;
}

body {
    height: 100%;
}

.view-screen {
    width: 100%;
    height: 100%;
    background-color: #222222;
    border: 1px solid #444444;
}

.eight-puzzle {
    margin: 0;
    width: 272px; /* 270 + 4 (borders) */
    height: 272px; /* 270 + 4 (borders) */
    border: 2px solid #444444;
    padding: 5px;
    margin: 14px 0 0 14px;
}
.eight-puzzle ul {
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0;
}
.eight-puzzle li {
    display: inline-block;
    margin: 5px;
    width: 76px; 
    height: 76px; 
    border: 2px solid #444444;

    line-height: 76px;
    font-size: 40px;
    text-align: center;
}
.eight-puzzle li.incorrect {
    background-color: #333333;
    color: #ff0000;
}

.eight-puzzle li.correct {
    background-color: #333333;
    color: #00ff00;
}

